<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}">
        {{site.title}}
      </a>

      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>

    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Community</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="http://discourse.openehr.org/" target="_blank" rel="noopener noreferrer">Discourse</a>
            <a class="navbar-item" href="http://github.com/openEHR" target="_blank" rel="noopener noreferrer">GitHub</a>
            <a class="navbar-item" href="http://specifications.openehr.org" target="_blank" rel="noopener noreferrer">Specs site</a>
            <a class="navbar-item" href="https://openehr.atlassian.net/wiki/spaces/MP/overview" target="_blank" rel="noopener noreferrer">Confluence</a>
            <a class="navbar-item" href="https://openehr.atlassian.net/jira" target="_blank" rel="noopener noreferrer">Jira</a>
          </div>
        </div>

      </div>
    </div>
  </nav>
</header>

